@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Special+Elite&display=swap');
body {
    margin: 0;
}

h1 {
    background: rgb(20, 58, 83);
    color: white;
    padding: 1em .5em;
    font-size: 3em;
    margin: 0;
    font-family: 'Oswald', sans-serif;
}

.notes {
    font-family: 'Special Elite', cursive; 
}